body{
    font-family: Arial,}

.subscribe-button{
    border: none;
    background-color: black;
color: aliceblue;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
font-weight: bold;
border-radius: 50px;
cursor: pointer;
margin: 30px;
}
.is-subscried{background-color: grey;
color: black;}

.cost-input{
    font-size: 15px;
    padding: 10px;
}
.calculate-button{
    background-color: green;
    border: none;
    color: white;
    font-size: 15px;
    padding: 12px 15px;
    cursor: pointer;
}